<div fxLayout="column">
  <div class="table-heading" *ngIf="heading" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start space-between">
    <mat-icon>{{heading.icon}}</mat-icon>
    <span [attr.aria-label]="heading.label">{{heading.label}}</span>
  </div>
  <div class="table-header" fxFlex="99%" fxLayout="row">
    <span *ngFor="let column of columns" fxFlex>
      {{column.label}}
    </span>
  </div>
  <cdk-virtual-scroll-viewport fxFlex>
    <mat-table [dataSource]="dataSource">
      <mat-row [style.height.px]="itemSize" *matRowDef="let row; columns: displayedColumns"></mat-row>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.title">
        <mat-cell *matCellDef="let element" fxFlex>
          <ng-container [ngTemplateOutletContext]="{column: column, element: element}"
                        [ngTemplateOutlet]="customColumnMap[column.title] ? customColumnMap[column.title] : cellText"></ng-container>
        </mat-cell>
      </ng-container>
    </mat-table>
  </cdk-virtual-scroll-viewport>
</div>

<ng-template #cellText let-column="column" let-element="element">
  <span>{{!column.valueTransformer ? element[column.property]: (element | valueTransformer: column)}}</span>
</ng-template>
