.type {
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  &.transaction {
    background: #d3f2e5;
  }
  &.seed_nonce_revelation {
    background: yellow;
  }
}
.wrapper {
  padding: 50px;
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}
